<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
        bootstrap="./Bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60">
    <php>
        <ini name="date.timezone" value="America/New_York"/>
    </php>
    <testsuites>
        <testsuite name="Sales and Orders">
            <directory>../module/*/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../module/*/src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
    </listeners>
</phpunit>
